html {
    height: 100vh;
}

body {
    background: #414247;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

#root {
    display:flex; 
    flex-direction:column; 
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    margin-top: 100px;
}

.header h1 {
    color: ivory;
    border-bottom: solid 2px rgba(245, 245, 245, 0.125);
    font-size: 3em;
}

#newButtonContainer {
    margin-bottom: 150px;
}

#mainNavbar {
    border-bottom: solid 1px rgba(245, 245, 245, 0.125);
    background: #414247;
}

#mainNavbar .navbar-brand {
    color: ivory;
}

#mainNavbar .nav-link {
    color: ivory;
    background: rgba(245, 245, 245, 0.125);
    border: solid 2px rgba(245, 245, 245, 0.125);
    border-radius: 5px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0.5rem;
    transition: 200ms;
    display: inline-block;
}

#mainNavbar .nav-link:hover {
    border: solid 2px ivory;
}

.footer-text {
    color: ivory;
}

.footer-link {
    color: rgb(214, 91, 91);
}

.footer-link:hover {
    color: rgb(167, 67, 67);
}

.backlog {
    border-bottom: solid 2px rgb(214, 91, 91);
}

.firstBacklog {
    margin-top: 50px;
}

.labelHolder {
    min-height: 80px;
}

.label {
    font-size: 3rem;
    color: ivory;
}

.button {
    background-color: inherit;
    border-color: ivory;
    border-width: 2px;
    border-radius: 0.5em;
    transition: 200ms;
}

.backlogButton {
    padding: 0.5em;
}

.newBacklogButton {
    border: 0;
}

.itemButton {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.button:hover {
    border-color: black;
    background-color: inherit;
    cursor: pointer;
}

.button:hover .icon {
    color: black;
}

.icon {
    color: ivory;
    transition: 200ms;
    line-height: 0;
}

.backlogIcon {
    font-size: 32px;
    height: 32px;
    width: 32px;
}

.newBacklogIcon {
    font-size: 64px;
}

.itemContainer {
    min-height: 120px;
    margin-bottom: 100px;
}

.item {
    width: 110px;
    height: 170px;
    background-color: rgb(88,89,93);
    margin: 10px;
    border-radius: 0.5em;
    touch-action: none;
}

.itemImage {
    width: 90px;
    height: 120px;
    margin-top: 10px;
    
}

.btn-primary:focus {
    background-color: rgb(129, 54, 54);
    border-color: rgb(187, 79, 79);
    box-shadow: 0 0 0 0.25rem rgba(187, 79, 79, 0.5)
}

.btn-primary:active:focus {
    box-shadow: 0 0 0 0.25rem rgba(187, 79, 79, 0.5)
}

.infoImage {
    width: 285px;
    height: 380px;
    border-style: solid;
    border-color: #2c3034;
    border-width: 0.25rem;
}

.num {
    color: ivory;
}

.modal-content {
    background-color: #414247;
    color: ivory;
}

.infoTag {
    color: rgb(214, 91, 91);
}

.infoTitleTag {
    font-size: 1.25rem;
}

.modal-header {
    border-color: rgb(214, 91, 91)
}

.modal-footer {
    border-color: rgb(214, 91, 91)
}

.btn-custom {
    color: ivory;
    background-color: rgb(214, 91, 91);
    border-color: rgb(214, 91, 91);
}

.btn-custom:hover {
    background-color: rgb(136, 57, 57);
    border-color: rgb(136, 57, 57);
}

.btn-custom:active {
    background-color: rgb(136, 57, 57) !important;
    border-color: rgb(136, 57, 57) !important;
}

.btn-custom:focus {
    background-color: rgb(136, 57, 57) !important;
    border-color: rgb(136, 57, 57) !important;
}

.dropdown-item:hover {
    cursor: pointer;
}

.resultItem {
    color: ivory;
    text-decoration: underline;
}

.resultItem:hover {
    cursor: pointer;
    color: rgb(214, 91, 91);
}

.container-404 {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-404 {
    width: 28rem;
    background-color: #212529;
}

.card-404 .card-title {
    font-size: 2.5rem;
    color: rgb(214, 91, 91);
}

.card-404 .card-text {
    color: ivory;
}

.card-404 a {
    color: rgb(214, 91, 91);
}

@media (max-width: 767px) {
    #mainNavbar .nav-link {
        margin-bottom: 0.5rem;
        margin-left: 0rem;
        width: 7em;
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .labelHolder {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .buttons {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .backlog-buttons {
        margin-left: 0 !important;
        margin-bottom: 0.5rem;
    }

}

@media (min-width: 992px) {
    .infoModal .modal-dialog {
        min-width: 992px;
    }
}

@media (max-width: 992px) {
    .infoContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .infoImage {
        width: 180px;
        height: 240px;
    }

    .infoCol {
        display: flex;
        justify-content: center;
    }

    .infoImage {
        align-self: center;
        margin-bottom: 8px;
    }
}

